body {
    box-sizing: border-box;
    background: aliceblue;
    margin: 0;
    padding: 0;
}
.toprightnav {
    background-color: navy;
    overflow: hidden;
}
.toprightnav a {
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.toprightnav a:hover{
    background-color: lightgray;
    color: black;
}
.header{
    font-family: "Apple Chancery", cursive;
    font-weight: bold;
}
#logo img{
    width: 250px;
    height: auto;
}
main{
    min-height: 100vh;
    background: aliceblue;
    position: relative;
    box-shadow: 0 2rem 4rem #000;
    z-index: 1;
}
footer{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: grey;
    display: grid;
    padding: 20px;
}
footer #contact{
    max-width: 250px;
    padding: 5px;
    font-size: large;
    font-family: Andale Mono, monospace;
    color: turquoise;
    border-style: inset;
    border-color: whitesmoke;
    border-width: 4px;
}
#info{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    max-width: 1200px;
    padding-left: 60px;
    color: darkblue;
}
#social{
    color: whitesmoke;
}



